body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  #promedio {
    margin-top: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
